// wo style entry point
@import "foundation/_reset.scss";
@import "foundation/_definitions.scss";
@import "widgets/_widgets.scss";
@import "widgets/_themes.scss";
@import "widgets/cover/_cover.scss";

@mixin cols($num){
    @for $i from 1 through $num{
        #{$root} {
            @media(#{$phone-p}){
                .row .col-phone-p-#{$i}{
                    width: $i / $num * 100%;
                    padding:.5em;
                    float:left;
                }
            }
            @media(#{$phone-l}){
                .row .col-phone-l-#{$i}{
                    width: $i / $num * 100%;
                    padding:.5em;
                    float:left;
                }
            }
        }        
    }
}

#{$root} {

}

#{$root}.basic, #{$root} .basic {

}