.temp{
    color:initial;
}

#{$root}.basic, #{$root} .basic {
    button{
        color:#555;
        border:solid 1px silver;
    }

    button.disabled, button.primary.disabled, button.disabled:hover, button.primary.disabled:active{
        color:#bbb;
        border:solid 1px #bbb;
        background: none;
    }

    button.primary{
        color:white;
        border:solid 1px #ff8875;
        background: linear-gradient(to bottom, #FEB118, #FF7517);
    }

    button.primary:hover, button.primary:active{
        border:solid 1px #ff8875;
        background: linear-gradient(to bottom, #FF7517, #FEB118);
    }
    button.primary:active{
        background: linear-gradient(to bottom, #cc7517, #FF7517);
    }
    button:hover{
        border:solid 1px #aaa;
        background-color: rgba(228, 228, 228, 255);
    }    
    
    button:active{
        border:solid 1px #999;
        background-color: rgba(208, 208, 208, 255);
    }
}