.sass-issue{cursor:default;}


#{$root}.basic, #{$root} .basic {
    .wbtn, button{
        color:$cl-default;
        border:$bd-default;
        background-color:$bg-default;
    }

    .wbtn:hover, button:hover{
        border:$bd-hover;
        background-color: $bg-hover;
    }    
    
    .wbtn:active, button:active{
        border:$bd-hover;
        background-color: $bg-active;
    }

   button.primary{
        color:$cl-primary;
        border:$bd-primary;
        background: $bg-primary;
    }

    button.primary:hover{
        border:$bd-primary-hover;
        background: $bg-primary;
    }
    button.primary:active{
        background: $bg-primary-hover;
    }

    .wbtn.disabled, button.disabled, button.primary.disabled, button.disabled:hover, button.primary.disabled:active{
        color:$cl-disable;
        border:$bd-disable;
        background: $bg-default;
    }

    .card{
        border:$bd-default;
        background:$bg;
    }
    .card .title{
        background:$bg-default;
        border-bottom:$bd-default;
    }
    .card.pure .title{
        background:none;
        border-bottom:$bd-default;
    }
    .card.basic .title{
        background:none;
        border-bottom:none;
    }
    .card .title .ctrls .wbtn{
        color:$cl-disable;
    }
}