body{
    background:#444;
    color:#eee;
}

.bg,#target{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:10;
}
.bg{
    background-image: url(ts.svg);
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.2;
}
#target{
    z-index:100;
}

