.sass-issue{cursor:default;}

#{$root}{
    .dropdown{
        position:relative;
        padding:4px;
        border-radius: $bradius;
        margin-bottom:1em;
        margin-top:1em;
        cursor:default;
    }
    .dropdown .toggle{
        position:absolute;
        right:4px;
        top:4px;
        text-align: center;
        font:10px arial;
        line-height: 16px;
        width:16px;
        height:16px;
        border:solid 0px blue;
        cursor:pointer;
    }
    .dropdown .toggle svg{
        width:16px;
        height:16px;
    }
    .simple-menu{
        position:absolute;
        border-radius: none;
        cursor:default;
    }
    .simple-item{
        padding:4px;
        cursor:default;
    }
}